/* RESET CSS */
html * { 
margin: 0px;
text-decoration: none;
}
#cabecalho { 
background-color: #5d5d5d;
height: 400px;
/* ATIVA O MODO FLEXIVEL */
display: flex;
/* ALINHA NA HORIZONTAL */
justify-content: center;
/* ALINHA NA VERTICAL */
align-items: center;

}

#haroldo { 
    /* ALTURA */
    height: 300px;
    /* LARGURA */
    width:  300px;
    /* AJUSTAR PROPORÇÃO */
    object-fit: cover;
    /* ARREDONDAR IMAGEM */
    border-radius: 50%;
}
h1, h2 {
    color: #fdfcfc;
    padding: 20px;
}

#principal {
background-color: #353232;
height: 500px;
text-align: center;
}
.container {
/* ATIVA O MODO FLEXIVEL */
display: flex;
/* ALINHA NA HORIZONTAL */
justify-content: center;
/* ALINHA NA VERTICAL */
align-items: center;
}
.caixas {
    /* ALTURA */
    height: 300px;
    /* LARGURA */
    width: 300px;
    /* COR DE FUNDO */
    background-color: rgb(128, 128, 128);
    /* ESPAÇAMENTO */
    margin: 20px;
    /* ATIVA O MODO FLEXIVEL */
display: flex;
/* ALINHA NA HORIZONTAL */
justify-content: center;
/* ALINHA NA VERTICAL */
align-items: center;
color: honeydew;

}

#rodape {
background-color: #20202000;
height: 200px;
/* ATIVA O MODO FLEXIVEL */
display: flex;
/* ALINHA NA HORIZONTAL */
justify-content: center;
/* ALINHA NA VERTICAL */
align-items: center;
}
.icones {
    height: 100px;
    width: 100px;
    margin: 20px;
}
#facebook {
    /* ALTURA */
    height: 40px;
    /* LARGURA */
    width:  40px;
    /* AJUSTAR PROPORÇÃO */
    object-fit: cover;
    /* ARREDONDAR IMAGEM */
    border-radius: 50%;
    margin: 10px;
    
}
#instagram {
    /* ALTURA */
    height: 40px;
    /* LARGURA */
    width:  40px;
    /* AJUSTAR PROPORÇÃO */
    object-fit: cover;
    /* ARREDONDAR IMAGEM */
    border-radius: 50%;
    margin: 10px;
}
#linkedin {
    /* ALTURA */
    height: 40px;
    /* LARGURA */
    width:  40px;
    /* AJUSTAR PROPORÇÃO */
    object-fit: cover;
    /* ARREDONDAR IMAGEM */
    border-radius: 50%;
    margin: 10px;
}
